<?xml version="1.0"?>
<launch>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	  <arg name="world_name" value="$(find hsr_demo)/worlds/naman_wall_environment.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/> <!-- Inert - see gazebo_ros_pkgs issue #491 -->
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find hsr_demo)/launch/spawn_hsr.launch" pass_all_args="true" >
    <arg name="personal_name" value = "hsrb1"/>
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="Y" default="0.0" />
  </include>

  <include file="$(find hsr_demo)/launch/spawn_hsr.launch" pass_all_args="true" >
    <arg name="personal_name" value = "hsrb2"/>
    <arg name="x" default="1.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="Y" default="0.0" />
  </include>

  <include file="$(find hsr_demo)/launch/spawn_hsr.launch" pass_all_args="true" >
    <arg name="personal_name" value = "hsrb3"/>
    <arg name="x" default="-1.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="Y" default="0.0" />
  </include>

</launch>
