<?xml version="1.0"?>

<model>
  <name>Naman Wall Environment</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Hardik on behalf of Naman Shah</name>
    <email>parwanahardik@gmail.com on behalf of namanpshah2112@gmail.com</email>
  </author>

  <description>
    The walls in Naman's mind
  </description>

</model>
