catkin_ws/build/*
catkin_ws/devel/*
catkin_ws/src/hsr_demo/src/__pycache__/*
catkin_ws/src/hsr_demo/src/__pycache__/*
catkin_ws/.catkin_tools/
catkin_ws/logs/
catkin_ws/log/*
colcon_ws/build/*
colcon_ws/install/*
colcon_ws/log/*
colcon_ws/ompl-1.6.0/*
catkin_ws/*
colcon_ws/src/lightsfm/build/
colcon_ws/src/lightsfm/install/
colcon_ws/src/lightsfm/log/
.vscode/*
colcon_ws/src/social_navigation/src/__pycache__/
colcon_ws/src/social_navigation/src/__pycache__/*
colcon_ws/src/social_navigation/social_navigation_py/social_navigation_py/__pycache__/*
colcon_ws/src/social_navigation/social_navigation_py/social_navigation_py/utils/__pycache__/*
.vscode/
.eggs/
*.egg-info
*.csv